$font-heading: "Ubuntu", "sans-serif";
$font-text: "Merriweather", "Georgia", serif;

@mixin font-heading($color: $accent-main, $size: 32px) {
  color: $color;
  font-family: $font-heading;
  font-size: $size;
  font-style: normal;
  font-weight: 600;
}

@mixin font-link($color: $accent-main, $size: 14px) {
  color: $color;
  font-family: $font-heading;
  font-size: $size;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}

@mixin font-text($color: $black, $size: 16px) {
  color: $color;
  font-family: $font-text;
  font-size: $size;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

@mixin font-subtext($color: $gray, $size: 14px) {
  color: $color;
  font-family: $font-text;
  font-size: $size;
  font-style: normal;
  font-weight: 400;
}

@mixin font-button($color: $black, $size: 12px) {
  color: $color;
  font-family: $font-heading;
  font-size: $size;
  font-style: normal;
  font-weight: 300;
}

@mixin font-caption($color: $black, $size: 12px) {
  color: $color;
  font-family: $font-heading;
  font-size: $size;
  font-style: normal;
  font-weight: 400;
}

@mixin font-tag($color: $gray, $size: 14px) {
  color: $color;
  font-family: $font-heading;
  font-size: $size;
  font-style: normal;
  font-weight: 400;
}
